*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: rgb(17, 7, 20);
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: rgb(231, 227, 221);
}
.active {
    display: none;
    font-size: 1.5vh;
}
input[type="checkbox"] {
    display: none;
}
input[type="checkbox"]:checked ~ .active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scale: 200%;
    animation: gorlanov 3s 1;
}
input[type="checkbox"]:checked ~ .active-button-block {
    display: none;
}
.block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.active-button {
    user-select: none;
    font-size: 50px;
}
.active-button-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100px;
    height: 100px;
    translate: 0px -100px;
}
.mega {
    width: 30vw;
    translate: 20px 100px;
    animation-name: animation;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}
.zhmi {
animation-name: animation;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

@keyframes animation {
    0%, 50% { transform: rotate(0deg); scale: 1; }
      25% { transform: rotate(15deg); scale: 1.2;}
      75% { transform: rotate(-15deg); scale: 1.2;}
}
@keyframes gorlanov {
    0% {
        scale: 5%;
    }
    100% {
        scale: 200%;
    }
}


@media (max-width:420px) {
    .active {
    display: none;
    font-size: 1.7vw;
    text-wrap: wrap;
    width: 360px;
    text-align: center;
    translate: -10px -50px;
}
input[type="checkbox"]:checked ~ .active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scale: 200%;
    animation: gorlanov 3s 1;
}
input[type="checkbox"]:checked ~ .active-button-block {
    display: none;
}
.block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.active-button {
    user-select: none;
    font-size: 50px;
}
.active-button-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100px;
    height: 100px;
    translate: 0px -100px;
}
.mega {
    width: 90vw;
    translate: 20px 70px;
    animation-name: animation;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}
.zhmi {
animation-name: animation;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}
}
